{% extends "master.html.twig" %}

{% block title %}Caregiver account{% endblock %}

{% block head %}
{{ parent() }}




 
	
{% endblock %}



{% block content %}
<br><br><br><br><br>
{% if success %}
            <p>{{success}}</p>
    {% endif %}


<div class="container-fluid user-select-none">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" name="personaldata" aria-current="page"  href="/accountcaregiver">
              <span data-feather="home"></span>
              Personal data

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/caregiverbookings">
              <span data-feather="file"></span>
              Bookings
            </a>
          </li>
          {% if userSession.role == "caregiver" %}
            <li class="nav-item">
            <a class="nav-link"  href="/caregiverschedule">
              <span data-feather="shopping-cart"></span>
              Manage schedule
            </a>
          </li>                                                        
		{% endif %}
        </ul>

       
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 user-select-none">{% if userSession.role == "client" %}
            Client account
            {% else %}
			Caregiver account                                                           
		{% endif %}</h1>
        
      </div>

    <div id="changingcontent" class="container user-select-none">
        {% if bookings %}
        <p id="confirmed"></p>
            <div class="table-responsive">
            <table class="table align-middle">
            <thead class="table-primary">
                <th scope="col">Client name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Fulfillment</th>
                <th scope="col">Confirmation</th>
                </thead>
                <tbody>
    
            {% for booking in bookings %}
                <tr scope="row">
                    <td>{{booking.firstName}} {{booking.lastName}} 
                      <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clientprofile">
                    View profile
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="clientprofile" tabindex="-1" aria-labelledby="modallabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modallabel">{{booking.firstName}} {{booking.lastName}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>About client</p>
                        <p> {{booking.description}} </p>
                        <img src="/uploads/{{booking.imagePath}}" class="img-thumbnail"> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    </td>
                    <td>{{booking.dateTime|date("m/d/Y")}}</td>
                    <td>{{booking.dateTime|date("g:00")}}</td>
                    <td>{% if booking.isFullfiled == 0 %} &mdash; {% else %} &check; {% endif %} </td>
                    <td>
                        {% if booking.isAccepted == 0 and booking.isDeclined == 0 %}
                          <form method="POST">
                            <input type="submit" name="confirm" id="confirm" value="Confirm" class="btn btn-success"/>
                            <textarea class="form-control visually-hidden" name="clientID" >{{booking.clientID}}</textarea>
                            <textarea class="form-control visually-hidden"  name="availabilityID" >{{booking.availabilityID}}</textarea>
                            <input type="submit" name="decline" id="decline" value="Decline" class="btn btn-danger"/>
                        </form>
                         {% else %} 
                            {% if booking.isAccepted != 0 or booking.isDeclined == 0 %} Accepted {% else %} Declined  {% endif %}
                         
                          {% endif %}
                          
                    </td>
              
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
    
        {% else %}
        <p> You do not have any reservations at this moment </p>
          {% endif %}
    </div>

                      
      
    </main>
  </div>
</div>
{% endblock %}