{% extends "master.html.twig" %}

{% block title %}Caregiver account{% endblock %}

{% block head %}
{{ parent() }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


    $(document).ready(function(){

      $("#availForm").hide();

      $("button[name=addavail]").on("click",function(){

              $("#availForm").show();
              $(this).hide();
      })

      $("button[name=cancel]").on("click",function(){

        $("input[name=date]").val("");
        $("input[name=time]").val("");
        $("#availForm").hide();

     })

      $("input[name=add]").on("click",function(){

        $("input[name=date]").val("");
        $("input[name=time]").val("");
        $("#availForm").hide();

     })
    })
</script>




 
	
{% endblock %}

{% block user %}
  {% if userSession %}
  <br><br><br>
		<p>Logged in as {{userSession.firstName}} {{userSession.lastName}} </p>                                                                 
		{% endif %}
{% endblock %}

{% block content %}
<br><br><br><br><br>
{% if success %}
            <p>{{success}}</p>
    {% endif %}


<div class="container-fluid user-select-none">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" name="personaldata" aria-current="page"  href="accountcaregiver">
              <span data-feather="home"></span>
              Personal data

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="caregiverbookings">
              <span data-feather="file"></span>
              Bookings
            </a>
          </li>
          {% if userSession.role == "caregiver" %}
            <li class="nav-item">
            <a class="nav-link"  href="caregiverschedule">
              <span data-feather="shopping-cart"></span>
              Manage schedule
            </a>
          </li>                                                        
		{% endif %}
        </ul>

       
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 user-select-none">{% if userSession.role == "client" %}
            Client account
            {% else %}
			Caregiver account                                                           
		{% endif %}</h1>
        
      </div>

    <div id="changingcontent" class="container user-select-none">
        {% if availabilities %}
            <table class="table">
            <thead class="table-primary">
                <th>Date</th>
                <th>Time</th>
                <th>isBooked</th>
                </thead>
                <tbody>
    
            {% for a in availabilities %}
                <tr>
                    <td>{{a.dateTime|date("m/d/Y")}}</td>
                    <td>{{a.dateTime|date("g:ia")}}</td>
                    <td>{% if not "{{a.availabilityID}}" %} &check; {% else %} &mdash; {% end if %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
    
        {% else %}
        <p> You do not have any availabilities yet, add them now </p>
          {% endif %}
        
    </div>

    <button type="button" name="addavail" class="btn btn-primary">Add new availability</button>

    <div id="availForm">
      <form method="POST">
         <label for="datetime" class="form-label">Date of availability</label>
         <input type="date" class="form-control" name="date" id="date">
         <input type="time" step="3600" class="form-control" name="time" id="time">
         <input type="submit" name="add" id="form" value="Save" class="btn btn-primary"/> 
         <button type="button" name="cancel" class="btn btn-primary">Cancel</button>
      </form>
    </div>
      
    </main>
  </div>
</div>
{% endblock %}