{% extends "master.html.twig" %}

{% block title %}Registration page{% endblock %}

{#{% block head %}
    <link rel="stylesheet" href="./css/loginregister.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/" + email);
            });

            $('input[name=userName]').on('paste blur change input', function() {
                var userName = $('input[name=userName]').val();
                $("#userNameTaken").load("/isuserNametaken/" + userName);
            });
           
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });
        });
    </script>
{% endblock %} #}

{% block content %} 
<br>
<br>
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}<li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="wrap">
        <form method="POST">
            <h2>User Registration</h2> 
            <br>
            <h5>Are you a caregiver or senior? </h5>
            Caregiver   <input type="radio" name="ans" value="Caregiver" />
            Senior   <input type="radio" name="ans" value="Senior"  /> <br>

            
         {#   {% if $_POST['ans'] == "Caregiver" %}
            <h4>What services do you offer?</h4>
            {% else %}
            <h4>What services do you need?</h4>
            {% endif %} #}
            <br>
            <h5>What services do you offer/require?</h5>

            Grocery shopping   <input type="checkbox" id="groceries" name="shopping" value="Grocery shopping">
            Companionship   <input type="checkbox" id="companionship" name="companionship" value="Companionship">
            Cooking   <input type="checkbox" id="coocking" name="coocking" value="Cooking"><br><br>

            <h5>Location </h5>
            Your address:
            <input type="text" name="address" value="{{ v.address }}"></input>
            Postal code:
            <input type="text" name="postal"  value="{{ v.postal }}"></input><br><br>

            <h5>Tell us more about yourself:</h5>
            <textarea name="body" cols="60" rows="10" value = "{{v.description}}"></textarea><br>


            <label>Email:</label>
            <input type="text" name="email" value="{{ v.email }}"></input>
            <span class="errorMessage" id="emailTaken"></span>
            <br>
            <label>Password:</label>
            <input type="password" name="pass1"></input><br>
            <label>Password (repeat):</label>
            <input type="password" name="pass2"></input>
            <div class="g-recaptcha" data-sitekey="6Lde2rsZAAAAAA_mSTwg1hdXZiSLbt3avb0I48jf"></div>
            <span id="captcha_error"></span>
            <input type="submit" name="register"  id="form" class="btn btn-secondary" style="width: 100px;"></input>                                
        </form>

            
            
    </div>
</div>
{% endblock %}
